<!DOCTYPE html>
<html>
  <head>
    <title>Publicar</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
  </head>
  <body>
    <div class="testbox">
      <form action="{{ url_for('create_post') }}" method="post" id="confirmationForm" name="confirmationForm">
        <h1>Publicar una nota</h1>
        <h4>Titulo<span>*</span></h4>
        <input type="text" id="title" name="title" required />
        <h4>Subtitulo<span>*</span></h4>
        <input type="text" id="subtitle" name="subtitle" required />
        <h4>Nota<span>*</span></h4>
        <p class="small">Redacta aquí tu nota.</small>
          <textarea id="note" name="note" rows="5" form="confirmationForm"></textarea>
        <h5>{{ msg }}</h5>
        <div class="btn-block">
          <button type="submit">Publicar</button>
        </div>
      </form>
    </div>
  </body>
</html>